```
# Git Configuration
[git]
  repository = https://github.com/username/project.git
  branch = main

# Jenkins Configuration
[jenkins]
  server_url = http://jenkins-server:8080/
  job_name = data-science-project
  build_trigger_token = secret-token

# Docker Configuration
[docker]
  image_name = data-science-project
  dockerfile_path = ./Dockerfile

# Kubernetes Configuration
[kubernetes]
  deployment_name = data-science-project
  service_name = data-science-service
  namespace = default
```
